/frontend/build/
/frontend/node_modules/
/.idea/
/client/target/
/client/target/
/target/
/manager/target/
/.bsp/
/project/target/
/kernel/target/
/cluster/executor/target/
/cluster/router/target/
/cluster/spark/target/
/cluster/transformer/target/
/kernel/src/__pycache__/
/project/project/target/
