<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %.-3level %-25logger{0} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>5000</queueSize>
        <maxFlushTime>0</maxFlushTime>
        <appender-ref ref="CONSOLE" />
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_ASYNC"/>
    </root>

    <logger name="wtf.knc" level="DEBUG"/>
    <logger name="com.twitter" level="DEBUG"/>
<!--    <logger name="org.jets3t" level="DEBUG"/>-->
<!--    <logger name="org.apache" level="DEBUG"/>-->
</configuration>