html,body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container {
    height: 100vh;
    padding: 1rem;
}

.notebook-panel {
    height: 100vh;
}

.dataset-container {
    height: 80%;
}

.dataset-panel {
    height: 100vh;
    scrollbar-gutter: stable both-edges;
}

.notebook-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}
